<div *ngIf="cartItems.length === 0" class="empty-cart">
  <p>Your cart is empty.</p>
</div>

<div *ngIf="cartItems.length > 0" class="cart-page-container">
  <!-- Left Column: Cart Items -->
  <div class="cart-items-section">
    <h2>Your Cart</h2>

    <!-- Select All Checkbox -->
    <div class="select-all">
      <input
        type="checkbox"
        [(ngModel)]="selectAll"
        (change)="toggleSelectAll()"
      />
      <label>Select All</label>
    </div>

    <!-- Table Headers -->
    <div class="cart-headers">
      <span></span>
      <span>Product/Price</span>
      <span>Quantity</span>
      <span>Total</span>
    </div>

    <!-- Cart Items -->
    <div *ngFor="let cartItem of cartItems; let i = index" class="cart-item">
      <!-- Checkbox for individual selection -->
      <input type="checkbox" [(ngModel)]="selectedItems[i]" />

      <!-- Item Info (Image, Name, Price) -->
      <div class="item-info">
        <div class="item-photo">
          <img src="{{ cartItem.product?.image }}">
        </div>
        <div class="item-details">
          <p class="item-name">{{ cartItem.product?.name }}</p>
          <p class="item-price">{{ cartItem.product?.price }}$</p>
        </div>
      </div>

      <!-- Quantity Adjuster -->
      <div class="item-quantity">
        <button (click)="decreaseQuantity(cartItem)">-</button>
        <p>{{ cartItem.quantity }}</p>
        <button (click)="increaseQuantity(cartItem)">+</button>
      </div>

      <!-- Total Price for Item -->
      <div class="item-total">
        <div *ngIf="cartItem.product; else loading">
          <p>{{ cartItem.product.price * cartItem.quantity }}$</p>
        </div>
        <ng-template #loading>
          <p>Loading...</p>
        </ng-template>
        
      </div>

      <!-- Delete Item Button -->
      <div class="item-delete">
        <button (click)="removeItem(cartItem)">
          <i class="fa-regular fa-trash-can"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Right Column: Order Summary -->
  <div class="order-summary-section">
    <h3>Order Summary</h3>
    <div class="summary">
        <p>Total Price for Selected Items: </p>
        <p>{{ getSelectedTotalPrice() }}$</p>
    </div>

    <!-- Checkout Button -->
    <button (click)="proceedToCheckout()" class="checkout-btn button-primary">Checkout</button>
  </div>
</div>
