/* General styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2,
h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  margin: 0;
}

.summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.empty-cart {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}

.order-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Cart Page Layout */
.cart-page-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 40px;
}

/* Left Column (Cart Items Section) */
.cart-items-section {
  flex: 3;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.cart-items-section h2 {
  color: #000;
}

/* Select All Styling */
.select-all {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.select-all input[type="checkbox"] {
  margin-right: 8px;
}

/* Cart Table Headers */
.cart-headers {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr 0.2fr;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr 0.2fr;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
  border-bottom: none;
}

.item-info {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.item-photo {
  height: auto;
}
.item-photo img {
  border-radius: 8px;
width: 88px;}
.item-name {
  font-size: 16px;
  color: #000;
}

.item-price {
  color: #999;
}

/* Quantity Adjuster */
.item-quantity {
  display: flex;
  align-items: center;
  gap: 5px;
}

.item-quantity button {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
}

.item-quantity p {
  margin: 0;
  font-size: 16px;
  text-align: center;
  width: 40px;
}

.item-total {
  font-weight: bold;
  color: #333;
}

.item-delete button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #3c3c3c;
  cursor: pointer;
}

/* Right Column (Order Summary) */
.order-summary-section {
  flex: 1;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  align-self: start;
  width: 100%;
}

.order-summary-section h3 {
  color: #000;
}

.checkout-btn {
  display: block;
  width: 100%;
  font-size: 16px;
}


.summary {
  margin-bottom: 24px;
}