/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

body {
  background-color: #f2f1f1;
  font-family: serif;
}

html, body {
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: #3c3c3c;}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 36px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 24px;
}

h2 {
  font-size: 24px;
    font-weight: 600;
    line-height: 1;

}

.button-primary {
  background-color: #406ac0;
  border-radius: 100px;
  border: 1px solid #406ac0;
  color: #fff;
  padding: 12px 28px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.button-primary:hover {
  background-color: #fff;
  color: #406ac0;
  border: 1px solid #406ac0;
}

a {
  color: #406ac0;
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: #406ac0;
}



.button-beauty:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.noscroll {
  overflow: hidden;
}
