.head {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  background-color: #e8f0ff;
  color: #3c3c3c;
  width: 100%;
  z-index: 1000;
  transition: transform 0.2s ease-in-out;
  height: 50px;
}

.head.hidden {
  transform: translateY(-100%);
}

.logo-head{
  margin-left: 50px;
  margin-right: auto;
  height: 100%;
  display: flex;
  flex-direction: row;

  .catalog {
    margin-top: 17px;
  }

  div {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.catalog {
  margin-left: 15px;
  font-size: 20px;
}

.catalog:hover {
  border-bottom: solid 2px #6691ff;
}


.right{
  margin-left: auto;
  margin-right: 30px;
}

.cart-icon{
  font-size: 30px;
}

.icon-link{
  text-decoration: none;
  margin: 0 10px;
}

.icon-link:link{
  text-decoration: none;
  color: #406ac0;
}

.icon-link:visited{
  text-decoration: none;
  color: #406ac0;
}

.user-icon{
  font-size: 30px;
}

.wishlist-icon {
  font-size: 30px;
}

fa-icon {
  color: #406ac0;
}

.blur {
  position: fixed;
  top: 0;
  left: 250px;
  height: 100%;
  width: calc(100% - 250px);
  filter: blur(5px);
  transition: filter 0.3s ease;
}

.catalog-dropdown {
  padding: 40px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #e8f0ff;
  z-index: 1000;
  display: none;
  width: 100%;
  transition: display 0.3s ease;
}

.catalog:hover .catalog-dropdown {
  display: block;
}

.catalog-dropdown ul {

  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 24px;
}

.catalog-dropdown a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.catalog-dropdown li {
  cursor: pointer;

  margin: 5px 5px 0;
}

