<div class="head" [class.hidden]="isHidden">
  <div class="logo-head">
    <div>
      <a [routerLink]="['/home']">
        <img ngSrc="laneige-logo.svg" alt="laneige" height="32" width="181" priority>
      </a>
    </div>

    <a class="catalog" (mouseenter)="toggleCatalog(true)" (mouseleave)="toggleCatalog(false)">
      <fa-icon [icon]="this.faBars"></fa-icon>
      Shop
      <div
        class="catalog-dropdown"
        *ngIf="isCatalogOpen"
        (mouseenter)="toggleCatalog(true)"
        (mouseleave)="toggleCatalog(false)">
        <ul>
          <li><a [routerLink]="['all-products']">All Products</a></li>
          <li *ngFor="let category of categories">
            <a [routerLink]="['/categories', category.id]" target="_top">{{ category.name }}</a>
          </li>
        </ul>
      </div>
    </a>

  </div>


  <div class="right">
    <div>
      <button class="searchbtn" (click)="openSearch()">
        <fa-icon [icon]="this.faSearch" class="user-icon"></fa-icon>
      </button>
      <a [routerLink]="['/cart']" class="cart icon-link"><fa-icon [icon]="this.faCart" class="cart-icon"></fa-icon></a>
      <a [routerLink]="['/login']" class="user icon-link"><fa-icon [icon]="this.faUser" class="user-icon"></fa-icon></a>
    </div>

    <div (click)="toggleSidebar()" class="blur" *ngIf="isOpen"></div>
  </div>
</div>
