<div class="head">
  <div>
    <div class="sidebar" [class.active]="isOpen">
      <button class="closebtn" (click)="toggleSidebar()">×</button>
      <a [routerLink]="['/home']">Home</a>
      <a [routerLink]="['/cart']">Cart</a>
      <a href="#">Services</a>
      <a href="#">Contact</a>
    </div>

    <button class="openbtn" (click)="toggleSidebar()">
      <fa-icon [icon]="this.faBars" class="user-icon"></fa-icon>
    </button>

    <button class="searchbtn" (click)="openSearch()">
      <fa-icon [icon]="this.faSearch" class="user-icon"></fa-icon>
    </button>

  </div>
  <div class="logo-head">
    <a [routerLink]="['/home']"><h1>eCom</h1></a>
  </div>

  <div class="right">
    <a [routerLink]="['/cart']" class="cart icon-link"><fa-icon [icon]="this.faCart" class="cart-icon"></fa-icon></a>
    <a [routerLink]="['/login']" class="user icon-link"><fa-icon [icon]="this.faUser" class="user-icon"></fa-icon></a>
  </div>
</div>
