.head {
  position: sticky !important;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  background-color: #e8f0ff;
  color: #3c3c3c;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.head.hidden {
  transform: translateY(-100%);
}

.logo-head a{
  text-decoration: none;
  color: #000000;

  &:visited{
    text-decoration: none;
    color: #000000;
  }
}


.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #111;
  padding-top: 60px;
  transition: 0.3s;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

/* The close button */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  background: transparent;
  border: none;
  color: #818181;
  transition: 0.3s;
}

.sidebar .closebtn:hover{
  color: #f1f1f1;
}

/* When the sidebar is active (open) */
.sidebar.active {
  left: 0;
}

/* Button to open the sidebar */
.openbtn {
  cursor: pointer;
  border: none;
  margin: 10px;
  background-color: transparent;
  padding: 0;
}

.searchbtn {
  cursor: pointer;
  border: none;
  margin: 10px;
  background-color: transparent;
  padding: 0;
}

.logo-head{
  margin-left: auto;
  margin-right: auto;
}

.right{
  margin-left: auto;
  margin-right: 30px;
}

.cart-icon{
  font-size: 40px;
}

.icon-link{
  text-decoration: none;
  margin: 0 10px;
}

.icon-link:link{
  text-decoration: none;
  color: #000000;
}

.icon-link:visited{
  text-decoration: none;
  color: #000000;
}

.user-icon{
  font-size: 40px;
}

fa-icon {
  color: #3c3c3c;
}

.blur {
  position: fixed;
  top: 0;
  left: 250px;
  height: 100%;
  width: calc(100% - 250px);
  filter: blur(5px);
  transition: filter 0.3s ease;
}
