.carousel-container {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  color: #fff;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth transition */
  height: 650px;

}

.carousel-item {
  min-width: 100%; /* Adjust size */
  transition: opacity 0.5s ease-in-out;
  position: relative;
}

.carousel img {
  width: 1550px;
  height: auto;
}

.img-wrapper {
  position: relative;
  height: 650px;
  overflow-y: hidden;
  width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
  font-size: 58px;
  max-width: 45%;
  line-height: 1.1;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
        line-height: 1.4;
        letter-spacing: 0;
        max-width: 45%;
        margin-bottom: 24px;
}

.button-scroll {
  position: absolute;
  font-size: 30px;
  top: 50%;
  z-index: 1;
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 3px 5px;
  cursor: pointer;
  transform: translateY(-50%);
  transition: color 0.2s ease;
}

.button-scroll:hover {
  color: #406ac0;
  /*background-color: #fff;*/
}
.button-scroll::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 12px;
  background-color: #406ac0;
  z-index: -1;
  transition: background-color 0.2s ease;
}

.button-scroll:hover::after {
  background-color: #fff;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.gallery-0 {
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 55%;
  p {
    margin-top: 10px;
  }
  button {
    margin-top: 10px;
  }
  width: 80%;
}

.gallery-1 {
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 15%;
  p {
    margin-top: 10px;
  }
  button {
    margin-top: 10px;
  }
  width: 80%;

}

.gallery-2 {
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 15%;
  p {
    margin-top: 10px;
  }
  button {
    margin-top: 10px;
  }
}
