<div class="carousel-container">
  <div class="carousel" [style.transform]="'translateX(' + translateX + '%)'">
    <div *ngFor="let item of items; index as i" class="carousel-item">
      <div class="img-wrapper" [style]="bgimage(item.img)">
      </div>
      <div class="gallery-item gallery-{{i}}">
        <h1 class="title">{{ item.h1 }}</h1>
        <p class="subtitle"> {{ item.p }}</p>
        <button class="visit button-primary" (click)="travel(item.id)">SHOP NOW</button>
      </div>
    </div>
  </div>
  <button (click)="prev()" class="prev-button button-scroll">
    <fa-icon [icon]="faLeft"></fa-icon>
  </button>
  <button (click)="next()" class="next-button button-scroll">
    <fa-icon [icon]="faRight"></fa-icon>
  </button>
</div>
