<div class="product-section">
  <h2>Featured Products</h2>
  <div class="product-section__cards">
    <app-product-card
      *ngFor="let product of visibleProducts"
      [product]="product"
      [isFavorite]="isFavorite(product.id)"
      (toggleFavorite)="toggleFavorite(product.id)">
    </app-product-card>
  </div>
  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="startIndex === 0">
      <fa-icon [icon]="faLeft"></fa-icon>    </button>
    <button
      (click)="nextPage()"
      [disabled]="startIndex + itemsPerPage >= products.length">
      <fa-icon [icon]="faRight"></fa-icon>
      </button>

  </div>
</div>
