<div class="account-page">
    <h1>Account</h1>
  
    <!-- Personal Information Section -->
    <section class="personal-info">
      <h2>Personal Information</h2>
      <p>{{ firstName }} {{ lastName }}</p>
      <a (click)="openEditPopup()">Edit</a>
    </section>

    <a [routerLink]="['/account/addresses']">Manage Addresses</a>

  
    <!-- Popup Form -->
    <app-edit-popup
      *ngIf="isPopupVisible"
      [firstName]="firstName"
      [lastName]="lastName"
      (close)="closeEditPopup()"
      (update)="updatePersonalDetails($event)">
    </app-edit-popup>
  </div>
  